.search{
    display: flex;
    justify-content: space-between;
    padding: 27px 44px 27px 65px;
    margin-left: 288px;
}
.searchbar{
    display: flex;
}
.search input{
    width: 385px;
    height: 50px;
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    padding: 0 21px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border-right: none;
}
.search input::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}
.search input:focus{
    outline: none;
}
.search_logo{
    height: 51px;
    width: 50px;
    background-color: transparent;
    border-radius: 0 20px 20px 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    border-left: none;
    margin-right: 80px;
}
.connect_btn{
    width: 156px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    height: 52px;
    background-image: linear-gradient(to right,#7C0F35, #581266);
    color: white;
    margin-left: 400px;
}